.counter-section {
	/*background-color: #000000;*/
	background-color: #d0d0d0;
}

.counter-section input{
	padding: 5px;
	margin: 15px;
	border-radius: 5px;
	color: red;
}

.counter {
	padding: 10px;
	display:flex;
}
.counter-out{
	height:70px;
	width:70px;
	margin-left: 5px;
	margin-right: 5px; 
	padding: 5px
}

.counter button.button-count {
    height: 70px;
    width: 70px;
    font-size: 50px;
    background-color: #872d2d;
    color: #d0d0d0;
    border-radius: 50%;
}

.counter button.button-count:hover{
	/*background-color: #c54848;*/
	color: #1a2018;
    animation-name: counter-button;
    animation-duration: 4s;
}

@keyframes counter-button {
	from,to {background-color: black;}	
	15% {background-color: red;}
	30% {background-color: orange;}
	45% {background-color: yellow;}
	60% {background-color: green;}
	75% {background-color: blue;}
}